# Ignorer alt i node_modules overalt
node_modules/

# Ignorer build/output-mapper
dist/
build/
instance/
logs/


# Ignorer miljøfiler
.env


# Ignorer Python-venv-mappe
.venv/  # eller venv/, alt efter navngivning

# Ignorer cachefiler fra Python
__pycache__/
*.pyc
*.pyo
*.pyd