{# templates/_navigation.html #}
{% if current_user.is_authenticated %}
<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
      aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggle">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <abbr title="Gå til din forside">
            <a class="nav-link" href="{{ url_for('public.home') }}">Hjem</a>
          </abbr>
        </li>
        

        {# Kundeopslag-dropdown #}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Kundeopslag
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <abbr title="…you wish">
                <a class="dropdown-item" href="{{ url_for('aggregator.search_customers_mdm') }}">Søg kunde i MDM</a>
                <li><hr class="dropdown-divider"></li>
              </abbr>
              <abbr title="Vis eventlog for én eller flere kunder">
                <a class="dropdown-item" href="{{ url_for('aggregator.event_log') }}">Event-log</a>
              </abbr>
            </li>
          </ul>
        </li>

        {# Datakvalitet-dropdown #}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Datakvalitet
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <abbr title="Udtrækker alle kunder, der mangler i mindst ét system">
                <a class="dropdown-item" href="{{ url_for('aggregator.search_customers_mdm') }}">Manglende kunder</a>
                <li><hr class="dropdown-divider"></li>
              </abbr>
              <abbr title="Identificér dubletter i Brevo baseret på e-mail og SIB ID">
                <a class="dropdown-item" href="{{ url_for('aggregator.search_customers_mdm') }}">Dubletter i Brevo</a>
                <li><hr class="dropdown-divider"></li>
              </abbr>
              <abbr title="Valider e-mailadresser på tværs af systemer for syntaks og API-status">
                <a class="dropdown-item" href="{{ url_for('aggregator.search_customers_mdm') }}">Ugyldig e-mails</a>
                <li><hr class="dropdown-divider"></li>
              </abbr>
              <abbr title="Sammenlign felter som navn, e-mail og ID’er på tværs af MDM, SFCC, Omneo og Brevo">
                <a class="dropdown-item" href="{{ url_for('aggregator.search_customers_mdm') }}">Sammenlign kundedata</a>
                <li><hr class="dropdown-divider"></li>
              </abbr>
              <abbr title="Kontroller sletning af kunder i alle systemer i henhold til GDPR’s retten-till-at-blive-glemt">
                <a class="dropdown-item" href="{{ url_for('aggregator.search_customers_mdm') }}">GDPR-sletning</a>
              </abbr>
            </li>
          </ul>
        </li>


        {# Administration kun for dataansvarlig #}
        {% if current_user.role == UserRole.dataansvarlig %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Administration
          </a>
          <ul class="dropdown-menu" aria-labelledby="adminDropdown">
            <li><a class="dropdown-item" href="{{ url_for('admin.list_users') }}">Brugere</a></li>
            <li><a class="dropdown-item" href="{{ url_for('admin.login_history') }}">Login-historik</a></li>
            <li><a class="dropdown-item" href="{{ url_for('admin.cleanup_logs') }}">Oprydningslog</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>

      {# Log ud til højre #}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.logout') }}">Log ud</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endif %}
