{# templates/_navigation.html #}
{% if current_user.is_authenticated %}
<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
      aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggle">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item mx-3">
          <abbr title="Gå til din forside">
            <a class="nav-link" href="{{ url_for('public.home') }}">
           <img src="{{ url_for('static', filename='favicon.ico') }}" alt="Home" style="height: 20px;">
            </a>

          </abbr>
        </li>
        

        {# Customer search-dropdown #}
        <li class="nav-item dropdown  nav-item-spacing">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            MDM
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <abbr title="…you wish">
                <a class="dropdown-item" href="{{ url_for('external_customer.search_customers_mdm') }}">Søg kunde i MDM</a>
                <li><hr class="dropdown-divider"></li>
              </abbr>
              <abbr title="Vis eventlog for én eller flere kunder">
                <a class="dropdown-item" href="{{ url_for('external_customer.event_log') }}">Event-log</a>
              </abbr>
            </li>
          </ul>
        </li>
        {# Brevo service-dropdown #}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="brevoDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Brevo
          </a>
          <ul class="dropdown-menu" aria-labelledby="brevoDropdown">
            <li>
              <abbr title="Slå kundeoplysninger op i Brevo">
          <a class="dropdown-item" href="{{ url_for('brevo_service.lookup_contact') }}">Opslag i Brevo</a>
              <li><hr class="dropdown-divider"></li>
              </abbr>
              <abbr title="Identificér dubletter i Brevo baseret på e-mail og SIB ID">
                <a class="dropdown-item" href="{{ url_for('external_customer.search_customers_mdm') }}">Dubletter i Brevo</a>

              </abbr>
            </li>
          </ul>
        </li>

        {# Salesforce service-dropdown #}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="brevoDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Salesforce
          </a>
          <ul class="dropdown-menu" aria-labelledby="brevoDropdown">
            <li>
              <abbr title="Slå kundeoplysninger op i Salesforce">
          <a class="dropdown-item" href="{{ url_for('sfcc_service.lookup_customer') }}">Opslag i Salesforce</a>
              </abbr>
            </li>
          </ul>
        </li>

        {# Omneo service-dropdown #}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="brevoDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Omneo
          </a>
          <ul class="dropdown-menu" aria-labelledby="brevoDropdown">
            <li>
              <abbr title="Slå kundeoplysninger op i Omneo">
          <a class="dropdown-item" href="{{ url_for('omneo_service.lookup') }}">Opslag i Omneo</a>
              </abbr>
            </li>
          </ul>
        </li>

        
        {# Data quality-dropdown #}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Datakvalitet
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <abbr title="Udtrækker alle kunder, der mangler i mindst ét system">
                <a class="dropdown-item" href="{{ url_for('external_customer.search_customers_mdm') }}">Auto kundeudtræk</a>
                <li><hr class="dropdown-divider"></li>
              </abbr>
              <abbr title="Valider e-mailadresser på tværs af systemer for syntaks og API-status">
                <a class="dropdown-item" href="{{ url_for('external_customer.search_customers_mdm') }}">Ugyldig e-mails</a>
                <li><hr class="dropdown-divider"></li>
              </abbr>
              <abbr title="Sammenlign felter som navn, e-mail og ID’er på tværs af MDM, SFCC, Omneo og Brevo">
                <a class="dropdown-item" href="{{ url_for('external_customer.search_customers_mdm') }}">Sammenlign kundedata</a>
                <li><hr class="dropdown-divider"></li>
              </abbr>
              <abbr title="Kontroller sletning af kunder i alle systemer i henhold til GDPR’s retten-till-at-blive-glemt">
                <a class="dropdown-item" href="{{ url_for('external_customer.search_customers_mdm') }}">GDPR-sletning</a>
              </abbr>
            </li>
          </ul>
        </li>


         {# Administration menu, only for data responsible users #}
        {% if current_user.role == UserRole.admin %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Administration
          </a>
          <ul class="dropdown-menu" aria-labelledby="adminDropdown">
            <li><a class="dropdown-item" href="{{ url_for('admin.list_users') }}">Brugere</a></li>
            <li><a class="dropdown-item" href="{{ url_for('admin.login_history') }}">Login-historik</a></li>
            <li><a class="dropdown-item" href="{{ url_for('admin.cleanup_logs') }}">Oprydningslog</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>

      {# Logout button on the right #}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.logout') }}">Log ud</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endif %}
